@charset "utf-8";

body {
    color: aliceblue;

    font-family: "Noto Sans JP", sans-serif;

    font-size: 30px;
    font-weight: normal;

    width: calc(50%);

    

    background-image: linear-gradient(to right, rgb(9, 2, 47),transparent), url(hikarinosasu.webp);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.container {
    width: 97%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 15px;
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;

}

.item {
    background-color: rgba(7, 15, 120, 0.745);
    display: block;
    padding: 10px;
}


.illustration {
    position: fixed;
    right: 100px;
    top: 100px;
}

a {
    color: aliceblue;
    text-decoration: none;
    border-bottom: 2px solid transparent;
}
a:hover {
    border-bottom: 2px solid rgb(195, 221, 243);
    transition: border-color 1s;
}




.top_button {

    position: fixed;
    right: 30px;
    bottom: 30px;

    font-weight: bold;
}

li {
    list-style: none;
}


h1, h2 {
    margin-top: 100px;
    text-align: center;

}

table {
    border-collapse: collapse;
}



.input {
    border-radius: 5px;
    padding: 10px;
    border: 1px solid #f6f3f3;
    min-width: 300px;
}
.radio {
    margin: 0 10px;
}
.checkbox {
    margin: 0 10px;
}
.select {
    width: 100%;
    
    border-radius: 5px;
    padding: 10px;
    border: 1px solid #f6f3f3;
    min-width: 300px;
}
.textarea {
    border-radius: 5px;
    padding: 10px;
    border: 1px solid #f6f3f3;
    min-width: 300px;
    min-height: 100px;
}


label,input,textarea,select,button {
    cursor: pointer;
}

table th {
    padding: 10px;
    text-align: left;
}

table td {
    padding: 10px;
}

.form-button {
    text-align: center;
}
